name: Run Telegram Bot

on:
  push:
    branches: [ "main" ]

  workflow_dispatch:

  schedule:
    - cron: "0 */6 * * *"   # Har 6 ghante me auto run

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Bot
      env:
        API_ID: ${{ secrets.API_ID }}
        API_HASH: ${{ secrets.API_HASH }}
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        OWNER_ID: ${{ secrets.OWNER_ID }}
        MONGO_URI: ${{ secrets.MONGO_URI }}
      run: |
        python main.py
